<div class="background full-width-height">
  <div class="padding picture-container full-height">
    <div class="headers-container">
      <div class="main-header">
        Платформа по анализу рынка недвижимости
      </div>
      <div class="sub-header">
        Изучайте рынок, находите варианты, инвестируйте правильно!
      </div>
      <div class="feature-item"><mat-icon class="warning right-margin">check</mat-icon> Гибкая система поиска</div>
      <div class="feature-item"><mat-icon class="warning right-margin">check</mat-icon> Кастомизация профиля</div>
      <div class="feature-item"><mat-icon class="warning right-margin">check</mat-icon> Различные ценновые предсказания</div>

      <div *ngIf="!user" class="buttons">
        <button mat-raised-button class="action-button" (click)="navigate('auth/sign-in')">ВХОД</button>
        <button mat-raised-button class="action-button background-warning" (click)="navigate('auth/register')">РЕГИСТРАЦИЯ</button>
      </div>
    </div>
    <img src="../../../assets/landing/apartments.png" class="building"/>
  </div>
</div>

<div #feedback class="sending-section">
  <div class="sending-form full-height">
    <div class="sending-form-header">
      <h2>Отправьте нам письмо</h2>
      <p>Свяжитесь с нами если у вас есть вопросы</p>
    </div>
    <form class="form-send" [formGroup]="feedbackFormGroup">
      <mat-form-field class="full-width">
        <mat-label>Имя</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="feedbackFormGroup.get('name').hasError('required')">
          Имя обязательно
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Почта</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="!isfeedBackEmailValid()">
          {{feedbackFormGroup.get('email').hasError('email') ? 'Пожалуйста введите действительный адрес' : 'Почта обязательна'}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Тема</mat-label>
        <input matInput formControlName="subject">
        <mat-error *ngIf="feedbackFormGroup.get('subject').hasError('required')">
          Тема обязательна
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Сообщение" formControlName="message"></textarea>
        <mat-error *ngIf="feedbackFormGroup.get('message').hasError('required')">
          Сообщение обязательно
        </mat-error>
      </mat-form-field>

      <button mat-fab color="primary" class="send-feedback-button"
              [disabled]="!feedbackFormGroup.valid || feedbackIsFetching"
              (click)="onSendFeedbackClicked()">
        <mat-spinner *ngIf="feedbackIsFetching" class="spinner" [diameter]="20"></mat-spinner>
        <mat-icon *ngIf="!feedbackIsFetching">send</mat-icon>
      </button>
      <mat-error *ngIf="feedbackError && feedbackFormSubmitted">
        {{feedbackError}}
      </mat-error>
    </form>
  </div>
</div>
<app-footer (contact)="onContactClicked()"></app-footer>
