<div class="background full-width-height">
  <div class="padding picture-container full-height">
    <div class="headers-container">
      <div class="main-header">
        Real estate research platform
      </div>
      <div class="sub-header">
        Study market, find profitable options, invest your money in a smart way!
      </div>
      <div class="feature-item"><mat-icon class="warning right-margin">check</mat-icon> Flexible search system</div>
      <div class="feature-item"><mat-icon class="warning right-margin">check</mat-icon> User customizations</div>
      <div class="feature-item"><mat-icon class="warning right-margin">check</mat-icon> Different price predictions</div>

      <div class="buttons">
        <button mat-raised-button class="action-button" (click)="navigate('auth/sign-in')">SIGN IN</button>
        <button mat-raised-button class="action-button background-warning" (click)="navigate('auth/register')">REGISTER</button>
      </div>
    </div>
    <img src="../../../assets/landing/apartments.png" class="building"/>
  </div>
</div>

<div class="sending-section">
  <div class="sending-form full-height">
    <div class="sending-form-header">
      <h2>Send Us An Email</h2>
      <p>If you have problems or questions please contact us</p>
    </div>
    <form class="form-send">
      <mat-form-field class="full-width">
        <mat-label>Your name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Your email</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Subject</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>

      <button mat-fab color="primary">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>

<div class="footer-section">
  <div class="footer-container">
    <div class="footer-child" style="flex: 1 0.5 100%; box-sizing: border-box; max-height: 50%;">
      <h4 class="footer-child-title">About Us</h4>
      <p>We are Ivan & partners company.</p>
      <button class="background-warning" mat-raised-button>Contact Us</button>
    </div>
    <div class="footer-child" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
      <h4 class="footer-child-title">Contact</h4>
    </div>
    <div class="footer-child" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
      <h4 class="footer-child-title">Disclaimer</h4>
    </div>
  </div>
</div>
