<div [ngClass]="{'navbar-fixed': isFixed, 'container': !isFixed }">
  <div class="inner-container">
    <div
      class="nav-item"
      (click)="navigate('landing')">
      <img src="../../../assets/navbar/apartment-icon.png" class="icon">
      <strong>&nbsp; Главная</strong>
    </div>
    <div
      class="nav-item"
      (click)="navigate('search')">
      <strong>Поиск</strong>
    </div>
    <div
      class="nav-item"
      (click)="navigate('stats')">
      <strong>Статистика</strong>
    </div>
    <div [matMenuTriggerFor]="menu" *ngIf="user" class="nav-item profile">
      <mat-icon>person</mat-icon>
      <strong class="nav-item">&nbsp; Мой аккаунт</strong>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="user">
    <div mat-menu-item (click)="navigate('profile')">{{user.username}}</div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogoutClicked()">Выйти</button>
  </ng-container>
</mat-menu>
