<div class="navbar-relative" [ngClass]="{'navbar-fixed': isFixed, 'container': !isFixed }">
  <div class="inner-container">
    <div
      class="nav-item"
      (click)="navigate('landing')">
      <img src="../../../assets/navbar/apartment-icon.png" class="icon">
      <strong>&nbsp; Restch</strong>
    </div>
    <div
      class="nav-item"
      (click)="navigate('search')">
      <strong>Search</strong>
    </div>
    <div class="nav-item">
      <strong class="nav-item">Research</strong>
    </div>
    <div [matMenuTriggerFor]="menu" *ngIf="user" class="nav-item profile">
      <mat-icon>person</mat-icon>
      <strong class="nav-item">&nbsp; My Account</strong>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="user">
    <div mat-menu-item class="non-clickable">{{user.username}}</div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="navigate('auth/change-password')">Change password</button>
    <button mat-menu-item (click)="onLogoutClicked()">Logout</button>
  </ng-container>
</mat-menu>
