<div [ngClass]="{'navbar-fixed': isFixed, 'container': !isFixed }">
  <div class="inner-container">
    <div class="nav-item">
      <img src="../../../assets/apartment-icon.png" class="icon">
      <strong>&nbsp; Restch</strong>
    </div>
    <div class="nav-item">
      <strong>MarketPlace</strong>
    </div>
    <div class="nav-item">
      <strong class="nav-item">Research</strong>
    </div>
    <div class="nav-item">
      <mat-icon>person</mat-icon>
      <strong class="nav-item">&nbsp; My Account</strong>
    </div>
  </div>
</div>
