<div class="footer-section">
  <div class="footer-container">
    <div class="footer-child" style="flex: 1 0.5 100%; box-sizing: border-box; max-height: 50%;">
      <h4 class="footer-child-title">About Us</h4>
      <p>We are Ivan & partners company.</p>
      <button class="background-warning" mat-raised-button>Contact Us</button>
    </div>
    <div class="footer-child" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
      <h4 class="footer-child-title">Contact</h4>
    </div>
    <div class="footer-child" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
      <h4 class="footer-child-title">Disclaimer</h4>
    </div>
  </div>
</div>
