<div class="footer-section">
  <div class="footer-container">
    <div class="footer-child" style="flex: 1 0.5 100%; box-sizing: border-box; max-height: 50%;">
      <h4 class="footer-child-title">О нас</h4>
      <p>HSE Project Platform</p>
      <button class="background-warning" mat-raised-button (click)="onContactClicked()">Связаться с нами</button>
    </div>
    <div class="footer-child" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
      <h4 class="footer-child-title">Связаться</h4>
    </div>
    <div class="footer-child" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
      <h4 class="footer-child-title">Наши данные</h4>
    </div>
  </div>
</div>
