<ng-container *ngIf="queryParam; else forgotSection">
  <ng-container *ngTemplateOutlet="passwordSection"></ng-container>
</ng-container>

<ng-template #forgotSection>
  <div *ngIf="!successMessage; else success">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1 class = "mat-h1">Восстановление пароля</h1>
      </mat-toolbar-row>
    </mat-toolbar>

    <form class="sign-in-form"
          [formGroup]="emailFormGroup">
      <mat-form-field class="inputs">
        <input matInput placeholder="Почта" formControlName="email">
        <mat-error *ngIf="!isEmailValid()">
          {{emailFormGroup.get('email').hasError('email') ? 'Пожалуйста введите действительный адрес' : 'Адрес обязателен'}}
        </mat-error>
      </mat-form-field>
      <div class="field">
        <div class="buttons-section">
          <button mat-flat-button
                  color="primary"
                  class="register-button"
                  (click)="onForgotPasswordClicked()"
                  [disabled]="!emailFormGroup.valid || isFetching">{{ isFetching ? '' : 'Восстановление'}}<mat-spinner *ngIf="isFetching" class="spinner" [diameter]="20"></mat-spinner></button>
          <span class="or">Или</span>
          <button mat-stroked-button (click)="onSignInClicked()">Вход</button>
        </div>
        <mat-error *ngIf="error && formSubmitted" class="back-section">
          {{error}}
        </mat-error>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #passwordSection>
  <div *ngIf="!successMessage; else success">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1 class = "mat-h1">Восстановление пароля</h1>
      </mat-toolbar-row>
    </mat-toolbar>

    <form class="sign-in-form"
          [formGroup]="passwordFormGroup">
      <mat-form-field class="inputs">
        <input matInput placeholder="Пароль" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix class="clickable" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="!isPasswordValid()">
          {{passwordFormGroup.get('password').hasError('required') ? 'Пароль обязателен' : 'Пароль должен содержать не менее 6 символов'}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="inputs">
        <input matInput placeholder="Повторить пароль" formControlName="repeatPassword" [type]="hidePasswordRepeat ? 'password' : 'text'" [errorStateMatcher]="repeatPasswordMatcher">
        <mat-icon matSuffix class="clickable" (click)="hidePasswordRepeat = !hidePasswordRepeat">{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
          Пароли не совпадают
        </mat-error>
      </mat-form-field>
      <div class="field">
        <div class="buttons-section">
          <button mat-flat-button
                  color="primary"
                  class="register-button"
                  (click)="onRestorePasswordClicked()"
                  [disabled]="!passwordFormGroup.valid || isFetching">{{ isFetching ? '' : 'Восстановление'}}<mat-spinner *ngIf="isFetching" class="spinner" [diameter]="20"></mat-spinner></button>
          <span class="or">Или</span>
          <button mat-stroked-button (click)="onSignInClicked()">Вход</button>
        </div>
        <mat-error *ngIf="error && formSubmitted" class="back-section">
          {{error}}
        </mat-error>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #success>
  <div class="sign-in-form email-send-container">
    <img src="../../../../assets/auth/check.svg" style="height: 180px">
    <span class="header">Успешно</span>
    <span class="mat-subheading-2 subheading">{{successMessage}}</span>
    <button mat-flat-button
            color="primary"
            (click)="onCloseDialogClicked()">Назад</button>
  </div>
</ng-template>
