<div *ngIf="isFetching" class="loader loader-container-color">
  <mat-spinner [diameter]="200"></mat-spinner>
</div>

<div *ngIf="!isFetching" class="stats-container">
  <div class="row-container">
    <h2 class="table-header" [style.width]="'35%'">Наиболее рентабельные предложения дня</h2>
    <h2 class="table-header" [style.width]="'30%'">Самые недооцененные</h2>
    <h2 class="table-header" [style.width]="'30%'">Самые переоцененные</h2>
  </div>
  <div class="row-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 stats-table" [style.width]="'35%'">
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Площадь, м&#178; </th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
      </ng-container>

      <ng-container matColumnDef="sell_price">
        <th mat-header-cell *matHeaderCellDef> Цена продажи, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.sell_price | currency : '' : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="rent_price">
        <th mat-header-cell *matHeaderCellDef> Цена аренды, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.rent_price | currency : '' : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="coeff">
        <th mat-header-cell *matHeaderCellDef> Срок окупаемости, годы </th>
        <td mat-cell *matCellDef="let element"> {{element.coeff}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="onTopEstateClicked(row)" class="table-line" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <table mat-table [dataSource]="dataUnderratedSource" class="mat-elevation-z8 stats-table" [style.width]="'30%'">
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Выставленная цена, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency : '' : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="predicted">
        <th mat-header-cell *matHeaderCellDef> Реальная цена, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.predicted | currency : '' : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="diff">
        <th mat-header-cell *matHeaderCellDef> Занижено на, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.diff | currency : '' : ''}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedUnderratedColumns"></tr>
      <tr (click)="onUnderOverClicked(row)" class="table-line" mat-row *matRowDef="let row; columns: displayedUnderratedColumns;"></tr>
    </table>
    <table mat-table [dataSource]="dataOverratedSource" class="mat-elevation-z8 stats-table" [style.width]="'30%'">
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Выставленная цена, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency : '' : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="predicted">
        <th mat-header-cell *matHeaderCellDef> Реальная цена, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.predicted | currency : '' : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="diff">
        <th mat-header-cell *matHeaderCellDef> Завышено на, &#8381; </th>
        <td mat-cell *matCellDef="let element"> {{element.diff | currency : '' : ''}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedOverratedColumns"></tr>
      <tr (click)="onUnderOverClicked(row)" class="table-line" mat-row *matRowDef="let row; columns: displayedOverratedColumns;"></tr>
    </table>
  </div>
  <h2 class="table-header">Статистика по округам Москвы</h2>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li><span [style.background]="greenRedPalette[0]"></span>Дешевле</li>
      <li><span [style.background]="greenRedPalette[1]"></span></li>
      <li><span [style.background]="greenRedPalette[2]"></span></li>
      <li><span [style.background]="greenRedPalette[3]"></span></li>
      <li><span [style.background]="greenRedPalette[4]"></span>Дороже</li>
    </ul>
  </div>
  <div class="headers">
    <div class="sub-header">Муниципальные округи</div>
    <div class="sub-header">Административные округи</div>
  </div>
  <div class="headers">
    <div class="sub-header">
      <mat-button-toggle-group #group="matButtonToggleGroup" (change)="onMunicipalitiesMapTypeChanged($event)">
        <mat-button-toggle value="meter" [checked]="true">
          Квадратный метр
        </mat-button-toggle>
        <mat-button-toggle value="coeff">
          Окупаемость
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="sub-header">
      <mat-button-toggle-group #group="matButtonToggleGroup" (change)="onAdministriesMapTypeChanged($event)">
        <mat-button-toggle value="meter" aria-label="Text align left" [checked]="true">
          Квадратный метр
        </mat-button-toggle>
        <mat-button-toggle value="coeff" aria-label="Text align center">
          Окупаемость
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="maps-container">
    <div class="municipalities">
      <angular-yandex-map *ngIf="!municipalitiesFetching" [center]="[55.75, 37.61]" [options]="{searchControlProvider: 'yandex#search'}" [zoom]="9">
        <ng-container *ngFor="let municipality of municipalities">
          <angular-yandex-geoobject
            [feature]="municipality.feature"
            [options]="municipality.options"
          ></angular-yandex-geoobject>
        </ng-container>
      </angular-yandex-map>
    </div>

    <div class="administries">
      <angular-yandex-map *ngIf="!administriesFetching" [center]="[55.75, 37.61]" [options]="{searchControlProvider: 'yandex#search'}" [zoom]="9">
        <ng-container *ngFor="let administry of administries">
          <angular-yandex-geoobject
            [feature]="administry.feature"
            [options]="administry.options"
          ></angular-yandex-geoobject>
        </ng-container>
      </angular-yandex-map>
    </div>
  </div>
</div>
<app-footer (contact)="navigate('landing')"></app-footer>
