/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width-height {
  height: 100%;
  width: 100%;
}

.no-margin {
  margin: 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.warning {
  color: #ffc107;
}
